stateMachineDefinition.json
{
  "Comment": "State Machine for Processing Burger Orders",
  "StartAt": "ValidateOrder",
  "States": {
    "ValidateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266577750609:function:ValidateOrderFunction",
      "Next": "CheckInventory"
    },
    "CheckInventory": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.inventoryStatus",
          "StringEquals": "Available",
          "Next": "PrepareOrder"
        },
        {
          "Variable": "$.inventoryStatus",
          "StringEquals": "Insufficient",
          "Next": "NotifyUserOfStockIssue"
        }
      ],
      "Default": "NotifyUserOfStockIssue"
    },
    "PrepareOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266577750609:function:PrepareOrderFunction",
      "Next": "ManageShipping"
    },
    "ManageShipping": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266577750609:function:ManageShippingFunction",
      "Next": "PersistOrder"
    },
    "NotifyUserOfStockIssue": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266577750609:function:NotifyUserFunction",
      "Next": "LogError"
    },
    "LogError": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266577750609:function:LogErrorFunction",
      "End": true
    },
    "PersistOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266577750609:function:ManageShippingFunction",
      "End": true
    }
  }
}
